.navbar {
    list-style-type: none;
    overflow:hidden;
    background-image: linear-gradient(rgb(0, 58, 146), rgb(72, 22, 178));
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}

.navbar li a {
    display:inline;
    float: left;
    padding: 10px;
    font-size: 25;
    color: rgb(255, 255, 255);
}

.navbar li a:hover {
    background-color: rgb(64, 106, 108);
}

.profpic {
    border-radius: 50%;
}