<html>
    <head>
        <title tiles:fragment="title">Untitled Game</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navbar.css">
    </head>
    <body>
        <!--Nav Bar------------->
        <ul class="navbar">
            <li><a href="/"><img 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png"
                height="30" width="100"></a></li>
            <li><a href="/game">Play</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/profile" style="float:right;"><img id="profpic" class="profpic"></a></li>
        </ul>
        <!---------------------->
        <h2>&emsp; Who I Am</h2>
        <p>&emsp; My name is Ethan Lindsey, and I created this server. I am currently a senior at Iowa State University studying
            Computer Science and Music Technology, and I have been programming for about four years now. At Iowa State, I have worked
            at the Exam Accomodations Center, which is an exam center that proctors exams of students who require accomodations because
            of ongoing medical issues. I have also worked as a tutor in the Computer Science Helproom, which has strengthened my algorithmic
            thinking and problem-solving skills. 

            In my free time, I enjoy
            practicing guitar and playing games.
        </p>
        <h2>&emsp;What is [Untitled Project]</h2>
        <p>&emsp;This server hosts gameplay and communication between users. This project was designed to make me familiar with server 
            technologies like Spring Boot, MySQL, and Kotlin and web development languages like Javascript, HTML, and CSS.
        </p>
    </body>
</html>