<html>
    <head>
        <title tiles:fragment="title">Untitled Game</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navbar.css">
    </head>
    <body>
        <!--Nav Bar------------->
        <ul class="navbar">
            <li><a href="/"><img 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png"
                height="30" width="100"></a></li>
            <li><a href="/game">Play</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/authenticate/login?logout=true" style="float:right;">
                <img id="profpic" class="profpic">Log out
            </a></li>
        </ul>
        <!---------------------->
    </body>
</html> 